<header class="col-md-4 offset-md-1">
    <h1>Eric Dowell </h1><h4>Web Developer / Software Engineer</h4>
    <p>Minneapolis, Minnesota</p>

    <h2 id="contact">Contact</h2>
    <p class="view">
        <a href="{{ site.github.owner_url }}" target="_blank" title="View My Github Profile">View My GitHub
            Profile</a>
        <br>
        <a href="mailto:hi@ericdowell.com" title="Email Eric Dowell">Get in Touch</a>
        <br>
        <a href='https://www.linkedin.com/in/dowell' target="_blank" title="LinkedIn - Eric Dowell">LinkedIn</a>
        <br>
        <a href='https://twitter.com/ericdowell' target="_blank"
           title="Follow Eric Dowell on Twitter">Twitter</a>
    </p>
</header>
